@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

.perfil-bg {
  min-height: 100vh;
  background-image: url("src/Assets/FundoMenuRegistro.png");
  background-size: cover;
  background-position: center;
  font-family: 'Fredoka', sans-serif;
}

.perfil-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.perfil-conteudo {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
  transition: all 0.3s ease;
}

.label-azul {
  color: #0A7D7E;
  font-weight: 500;
}

.custom-button-azul6 {
  background-color: #0A7D7E;
  border: none;
  transition: all 0.2s;
}

.custom-button-azul6:hover {
  background-color: #076666;
  transform: translateY(-2px);
}

.page-title {
  display: flex;
  align-items: center;
  padding-left: 50px;
}

.page-title-text {
  font-size: 20px;
}

/* Estilos responsivos */
@media (max-width: 1100px) {
  .perfil-bg {
    background-image: url("src/Assets/FundoMenuRegistroCelularMedio.png");
  }
}

@media (max-width: 767px) {
  .perfil-conteudo {
    padding: 20px 15px;
    margin-top: 40px;
  }
  
  .perfil-container {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .perfil-bg {
    background-image: url("src/Assets/FundoMenuRegistroCelular.png");
  }
  
  .perfil-conteudo {
    padding: 15px 10px;
  }
}

@media (max-width: 767px) {
  .profile-image-container {
    margin-bottom: 20px;
  }
  
  .custom-file-input {
    margin-bottom: 15px;
  }
}

@media (max-width: 767px) {
  .table-responsive {
    font-size: 14px;
  }
  
  .btn-detalhes, .custom-button-azul6 {
    padding: 4px 8px;
    font-size: 12px;
  }
}