.sobre-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 24px;
  text-align: center;
  font-family: 'Fredoka', sans-serif;
}

.sobre-titulo {
  font-size: 28px;
  font-weight: 600;
  color: #0f766e;
  margin-bottom: 16px;
}

.sobre-conteudo {
  display: flex;
  align-items: center;
  justify-content: space-around; /* Alterado para melhor distribuição */
  flex-wrap: nowrap; /* Garante que fiquem lado a lado */
  padding: 0 20px;
  gap: 40px; /* Espaçamento entre os elementos */
}

.sobre-imagem {
  width: 50vw; /* Ajustei para melhor proporção */
  max-width: 350px; /* Limite para evitar exagero */
}

.sobre-texto {
  color: #4a4a4a;
  font-size: 16px;
  line-height: 1.6;
  max-width: 500px;
  text-align: right;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .sobre-conteudo {
    flex-direction: column;
    text-align: center;
    padding: 0;
    gap: 20px; /* Ajuste para telas menores */
  }
  .sobre-imagem {
    width: 250px;
    margin-bottom: 16px;
  }
  .sobre-texto {
    text-align: center;
  }
}

.linha-sobre {
  border: 0;
  border-top: 3px solid #0f766e;
  width: 100%; 
  margin: 16px 0; 
}
