@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

.fundo-azul{
  background-image: url("src/Assets/FundoRegistroApoiador.png");
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;
}

.registro-container-azul {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  width: 420px;
  margin: 40px;
  font-family: 'Fredoka', sans-serif;
  
}

.registro-header-azul {
  background-color: #0A7D7E;
  color: white;
  text-align: center;
  padding: 15px;
  padding-top: 20px;
  border-radius: 10px 10px 0 0;
}

.registro-form-azul input {
  border: 2px solid #76B5A0 ;
  border-radius: 20px;
  padding: 5px;
  width: 100%;
  outline: none;
}

.custom-button-azul {
  position: relative;
  display: inline-block;
  padding: 8px 18px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #0A7D7E;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  text-align: center;
  box-shadow: -5px 5px 0px #76B5A0;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.button-container-azul {
  display: flex;
  justify-content: center; 
}

.footer-line2-azul {
  width: 70%; 
  height: 4px;
  background-color: #76B5A0; 
  margin-top: 0px; 
  margin-left: auto; 
  margin-right: auto;
  display: block; 
}

.text-center-azul{
  color: #0A7D7E;
  margin-bottom: 5px;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 844px) {
  .footer-line2-azul {
    width: 60%; 
}

.label-azul{
  color: #0A7D7E;
  font-size: 18px;
  font-weight: 500;
  margin-left: 15px;
}

input[type="date"],
input[type="text"],
input[type="email"],
input[type="password"]{
  padding-left: 13px;
}

@media (max-width: 1100px) {
  .fundo-azul {
    background-image: url("src/Assets/FundoRegistroApoiadorCelularMedio.png"); 
  }
}

@media (max-width: 600px) {
  .fundo-azul {
    background-image: url("src/Assets/FundoRegistroApoiadorCelular.png");
  }
}

.custom-button-azul {
  transition: transform 0.3s ease-in-out;
}

.custom-button-azul:hover {
  transform: scale(1.1);
}
}
.custom-button-azul {
  transition: transform 0.3s ease-in-out;
}

.custom-button-azul:hover {
  transform: scale(1.1);
}